################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewTrainingFramework/Debug
/Utilities/Debug
/BIN
/Debug
